<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theoldzheng.com.theoldzheng.dao.UserMapper">
    <select id="getUserList" resultType="com.theoldzheng.com.theoldzheng.pojo.User">
        select *
        from user
    </select>

    <insert id="updateAdd" useGeneratedKeys="true" keyProperty="id">
        insert into user(id, name, password, tx_password) value (#{id},#{name},#{password},#{txPassWord})
    </insert>

    <select id="getByIdAndName" resultType="com.theoldzheng.com.theoldzheng.pojo.User">
        select * from user where id = #{id} and name = #{name}
    </select>


</mapper>